/*body{
	/*background:url('http://cdn.desktopwallpapers4.me/wallpapers/digital-art/1680x1050/2/14888-world-map-1680x1050-digital-art-wallpaper.jpg');*/
	/*background: white url('img/cloud.jpg') no-repeat right bottom;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
*/            
body{
    background: url('img/newspapers_1.jpg') fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;           
}
       
.thumbnail{
    background-color:#262626;
    border-radius: 60px;
}
            
.well{
    background-color:whitesmoke;
}

#absolute {
 position: fixed;
top: 100px;
left: 90%;
margin-left:-250px;
width: 500px; 
}

#btn-upload{
                background-color: #4CAF50;
                border: none;
                font-size: 20px;
                color: white;
                text-align: center;
                
                text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
}



#file_caption{
    font-size:27px;
    font-family: sans-serif;
    color:#e6e6ff;
}
        	
#displayname {
    margin-top: 8px;
	font-size:1.5em;
    font-family: monospace;
    color: aliceblue;
	background-color:;
}
        	
#logo {
	font-family: "sans-serif";'
    color:;
}
            
            
#navitem li a{
    background-color: ;
    color:;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navitem li a:hover:not(.active) {
    background-color:;
}

.active {
    background-color:;
}
