<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang=en>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% load staticfiles %}
        <!--link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
        <link type="text/css" rel="stylesheet" href="{% static 'home_page/css/bootstrap.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        
        <!--script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script-->
        <script src="{% static 'home_page/js/bootstrap.min.js' %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'home_page/css/background.css' %}">
        <title>Let there be light!</title>
        
        <style>
            
        </style>
        
    </head>
    
    <body>
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a id="logo" class="navbar-brand" href="http://127.0.0.1:8000/">NEWSIFY!</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul id="navitem" class="nav navbar-nav">
                        
                        <li><a href="http://127.0.0.1:8000/india.html">India</a></li>
                        <li><a href="http://127.0.0.1:8000/world.html">World</a></li>
                        <li><a class="active" href="http://127.0.0.1:8000/sports.html">Sports</a></li>
                        <li><a href="http://127.0.0.1:8000/misc.html">Miscellaneous</a></li>
                        <li><a href="http://127.0.0.1:8000/specials.html">Specials</a></li>    
                        
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                    <ul id="navitem" class="nav navbar-nav navbar-right">
                        <li id='displayname'>{% if request.user.first_name %}
                            {{request.user.first_name}}
                          {% else %}
                            {{ request.user.username }}
                          {% endif %}
                        </li>                  
                        <li>
                        	{% if request.user.is_authenticated %}
                        	{% else %}
                        		<a href="/accounts/login">Login</a>
                        	{% endif %}
                        </li>
                        <li><a href="{% url 'auth_logout' %}">Logout</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
        </nav>
    
        <div class="container text-center">    
                
                     <!-- Upload form. Note enctype attribute! -->
            <br><br><br>
            

                  
                      
              
         <div class="row">
             <div class="col-sm-8">
                 <!-- List of uploaded documents -->
                    {% if documents %}
                        <ul style="list-style: none;">

                            {% for document in documents %}
                            {%if document.categories == 'SP'%}
                              <div class="row">
                                  <div class="col-sm-1"></div>
                                  <div class="col-sm-11">
                                      <div class="row">
                                       <center> <b> <li id="file_caption">
                                      {{document.title}}<br>
                                     <!--  <div class="col-sm-12 well"> -->
                                            <div class="thumbnail">

                                            <center>  <li id="file_caption">

                                            <br>
                                            <!-- {{document.categories}}<br> -->

                                            <img src="{{ document.docfile.url }}" alt="{{ document.docfile.name }}" height = 300 width = 400>
                                                </li>

                                            <div style="margin-top: 8px;margin-bottom: 8px">
                                            {% if request.user.is_authenticated %} 
                                                <!--LIKE DISLiKE-->
                                              <div class="stats">
                                                    <a href="upvote/{{document.id}}?id={{request.user.id}}" class="btn btn-default stat-item">
                                                      <button id="like_button" ><i class="glyphicon glyphicon-thumbs-up "></i></button>{{document.likes}} 
                                                    </a>

                                                    <span style="margin-left:2em">
                                                    <a href="downvote/{{document.id}}?id={{request.user.id}}" class="btn btn-default stat-item">
                                                        <button id="dislike_button" ><i class="glyphicon glyphicon-thumbs-down"></i></button>{{document.dislikes}}
                                                    </a>
                                                </div>
                                              {% endif %}

                                            </div>
                                      </div>
                                    </div>
                                  </div>

                                  


                              </div>
                            {%endif%}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No documents.</p>
                    {% endif %}
                 </div>
                 
             </div>
             
                    
                    
                    
                    
        </div>

                
                
                
                
                
                
                
                
                
    
            
    </body>
</html>