<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang=en>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% load staticfiles %}
        <!--link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
        <link type="text/css" rel="stylesheet" href="{% static 'home_page/css/bootstrap.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        
        <!--script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script-->
        <script src="{% static 'home_page/js/bootstrap.min.js' %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'home_page/css/background.css' %}">
        <title>Let there be light!</title>
        
        <style>
            #file_caption{
                font-size:24px;
                font-family: sans-serif;
                color:white;
            }
        	#displayname {
        		font-size:2em;
                color: aliceblue;
        		background-color:;
        	}
        </style>
        
    </head>
    
    <body>
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">NEWSIFY!</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Breaking</a></li>
                        <li><a href="#">Specials</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">India</a></li>
                                <li><a href="#">World</a></li>
                                <li><a href="#">Sports</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li id='displayname'>{% if request.user.first_name %}
                            {{request.user.first_name}}
                          {% else %}
                            {{ request.user.username }}
                          {% endif %}</li>                  
                        <li><a href="/accounts/login">LogIn</a></li>
                        <li><a href="{% url 'auth_logout' %}">LogOut</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
        </nav
    
        <div class="container text-center">    
                
                     <!-- Upload form. Note enctype attribute! -->
            <br><br><br>
            <div id="absolute"> 
                <form action="{% url "home" %}" method="post" enctype="multipart/form-data" class = "btn btn-primary col-md-6">
                    {% csrf_token %}
                   
                    <p>{{ form|crispy }}</p>
        
                    <p><input type="submit" class = "btn btn-primary" value="Upload"/></p>
                </form>
             </div>

                  
                      
              
              
         <!-- List of uploaded documents -->
            {% if documents %}
                <ul>

                    {% for document in documents %}
                      <div class="row">
                          <div class="col-sm-1"></div>
                          <div class="col-sm-6"> 
                              <div class="col-sm-12 well">
                                    <div class="thumbnail">

                                    <center>  <li id="file_caption">

                                    {{document.title}}<br>
                                    <img src="{{ document.docfile.url }}" alt="{{ document.docfile.name }}" height = 300 width = 400>
                                        </li>
                                        
                                        
                                        
                                        <!--LIKE DISLiKE-->
                                        <div class="stats">
                                            <a href="#" class="btn btn-default stat-item">
                                                <i class="glyphicon glyphicon-thumbs-up"></i>2
                                            </a>
                                            <a href="#" class="btn btn-default stat-item">
                                                <i class="glyphicon glyphicon-thumbs-down"></i>12
                                            </a>
                                        </div>
                                        
                                        
                                        
                                    <!-- {{document.docfile}} -->
                                    <!-- <a href="{{ document.docfile.url }}">{{ document.docfile.name }}<br><br>
                                    <img src="{{ document.docfile.url }}" alt="{{ document.docfile.name }}" height = 300 width = 900></a></li> </center> -->
                                    </div>
                              </div>
                          </div>
                              
                              
                          
                              
                              
                      </div>

                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents.</p>
            {% endif %}
                    
                    
                    <!--<div class="row">
                          <div class="col-sm-8"></div>
                          <div class="col-sm-3 well">
                            <div class="thumbnail">
                                <p style="font-size: 20px">Upcoming Events:</p>
                                <a href="http://edition.cnn.com/specials/politics/2016-election">US Presidential Elections</a>
                                <a href="http://economictimes.indiatimes.com/budget2016"><br>Indian Budget</a>

                            </div>      
                            <div class="thumbnail">
                                <p>ADS</p>
                            </div>
                            <div class="thumbnail">
                                <p>ADS</p>
                            </div>
                        </div>
                    </div>-->
                    
                    
        </div>

                
                
                
                
                
                
                
                
                <!--
                    <div class="col-sm-1"></div><br><br><br><br><br><br><br>
                    <div class="col-sm-3 well">
                    <div class="thumbnail">
                        <p style="font-size: 20px">Upcoming Events:</p>
                        <a href="http://edition.cnn.com/specials/politics/2016-election">US Presidential Elections</a>
                        <a href="http://economictimes.indiatimes.com/budget2016"><br>Indian Budget</a>
                        
                    </div>      
                    <div class="thumbnail">
                        <p>ADS</p>
                    </div>
                    <div class="thumbnail">
                        <p>ADS</p>
                    </div>
                </div>-->
    
    
            
    </body>
</html>