<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <!--link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
        <link type="text/css" rel="stylesheet" href="{% static 'home_page/css/bootstrap.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        
        <!--script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script-->
        <script src="{% static 'home_page/js/bootstrap.min.js' %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'home_page/css/signoutlogout_background.css' %}">
        
        <title>LoggedOut</title>
        <style>
            
        </style>
    </head>
    
        <body>
            <!--{% block body_block %}-->
            <br><br><br>
            <h1>We will miss you!</h1>
            <p>You are now logged out. Come back soon! Wait, did you <a href="http://127.0.0.1:8000/">change your mind?</a></p>
            <!--{% endblock %}-->
        </body>
    
</hmtl>